.container {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  gap: 2rem;
  height: 100vh;
}

.cards {
  display: grid;

  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  &-container {
    flex: 3;
  }
}
